.project
.buildpath
.settings
.idea
.phpdoc
nbproject
composer.lock
InMemoriamOfPinkPony.rip
/tests/run_tests.sh
web/
vendor/
node_modules/
.phpcs-cache
recipes/
.continue
.ddev/commands/*
.ddev/redis/*
.ddev/solr/*
.ddev/docker-compose*
.ddev/.*
core.*
config-sync
*.map
