#bbox-map-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
}
#coords {
  top: 8px;
  right: 8px;
  position: absolute;
  z-index: 100;
  font-size: small;
  display: contents;
}
